/* start custom scss snippet */
.chess {
    width:250px; 
    height:250px;
    display:inline-block;
    font-size:12px;
    text-alignment:right;
    padding:10px;
} 

.music {
    width:250px;
    height:160px;
    display:inline-block;
    font-size:12px;
    padding:10px;
}
/* end custom scss snippet */
